body {
    justify-content: center;
    text-align: center;
    padding-bottom: 1.5%;
    margin: 0.2%;
    background-image: url(../imagens/coracoes-rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(238, 179, 242, 0.8);
    cursor: url(../imagens/cursor.cur), auto;
    

}


@media only screen and (max-width: 480px) and (orientation: portrait) {
    main .partePrincipal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        margin-right: 50px;
        text-align: justify;
        width: 760px;
    }

    img {
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }

    header .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 760px;
        padding-top: 80px;
    }

    main .poemaPrincipal {
        margin-left: 5%;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #34aad1;
        text-shadow: 2px 2px 4px rgba(238, 179, 242, 0.8);
        text-align: justify;
    }
}



/* Estilos para todos os tamanhos de tela */
header {
    text-align: center;
    position: relative;
    justify-content: center;
    height: 100px;
}

main {

    text-align: center;
    justify-content: center;
}

footer {
    position: relative;
    justify-content: right;
    padding-left: 80%;
    padding-top: 5%;
}

main .poemaPrincipal3 {
    margin-left: 5%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #34aad1;
    text-shadow: 2px 2px 4px rgba(238, 179, 242, 0.8);
    text-align: justify;
}

main .poemaPrincipal {
    margin-left: 5%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #34aad1;
    text-shadow: 2px 2px 4px rgba(238, 179, 242, 0.8);

    text-align: justify;
}

.coracaoCentro {
    justify-content: center;
    width: 250px;
    height: 250px;

}

.glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;


}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4fbce0;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0.75;
    justify-content: center;


}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow-on-hover2 {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;


}

.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover2:active {
    color: #000
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4fbce0;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0.75;
    justify-content: center;


}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.glow-on-hover3 {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;


}

.glow-on-hover3:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover3:active {
    color: #000
}

.glow-on-hover3:active:after {
    background: transparent;
}

.glow-on-hover3:hover:before {
    opacity: 1;
}

.glow-on-hover3:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4fbce0;
    left: 0;
    top: 0;
    border-radius: 10px;
    opacity: 0.75;
    justify-content: center;


}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



@import url('https://fonts.googleapis.com/css?family=Roboto:700');


p {
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
}

.container {
    color: #34aad1;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 0.8rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 3.75rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #3157ff;
}

.second div {
    background-color: #b82aff;
}

.third div {
    background-color: #fa26b0;
}

@keyframes text-animation {
    0% {
        margin-top: 0;
    }

    10% {
        margin-top: 0;
    }

    20% {
        margin-top: -5.62rem;
    }

    30% {
        margin-top: -5.62rem;
    }

    40% {
        margin-top: -11.24rem;
    }

    60% {
        margin-top: -11.24rem;
    }

    70% {
        margin-top: -5.62rem;
    }

    80% {
        margin-top: -5.62rem;
    }

    90% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}